* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
  
  body {
    /* setting a font size for all child elements that can then be relatively referenced */
    font-size: 18px;
    /* sets the space between lines of text */
    line-height: 1;
    font-family: 'Indie Flower', cursive;
    background: rgb(236, 167, 236);
  }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

h1 {
    font-size: 200%;
    padding: 20px;
    margin: 2rem 0;
}

h2 {
    font-size: 150%;
    padding: 20px;
    margin: 2rem 0;
    text-align: center;
}

#photo-container {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 3rem;
}

p {
    padding: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 10px 3rem 10px;
}

li {
    padding-bottom: 20px;;
}

img {
    max-width: 170px;
    /* border-radius: 20px; */
    border: solid 1px black;
    margin: 0;
    flex: 1 0 100%;
}